@model ControllerSystems.DeusCumpre.WebApi.ViewModels.HomeViewModel

<div id="body">
    @if (Model.Posts != null)
    {
        foreach (var item in Model.Posts)
        {
            <div>
                <h1>item.Title</h1>
                <h3>item.Cre</h3>
            </div>
        }
    }
</div>