<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deuscumpre.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>deuscumpre.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>deuscumpre</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$deuscumpre</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeusCumpreContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dgqpxhl8m2.database.windows.net,1433;Initial Catalog=deuscumpre_db;User Id=deuscumpre@dgqpxhl8m2;Password=tVKWT;CTK9" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ControllerSystems.DeusCumpre.Data.Context.DeusCumpreContext, ControllerSystems.DeusCumpre.Data" MigrationConfiguration="ControllerSystems.DeusCumpre.Data.Migrations.Configuration, ControllerSystems.DeusCumpre.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dgqpxhl8m2.database.windows.net,1433;Initial Catalog=deuscumpre_db;User Id=deuscumpre@dgqpxhl8m2;Password=tVKWT;CTK9" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ControllerSystems.DeusCumpre.WebApi-20150925025646.mdf;Initial Catalog=aspnet-ControllerSystems.DeusCumpre.WebApi-20150925025646;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ControllerSystems.DeusCumpre.WebApi-20150925025646;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ControllerSystems.DeusCumpre.WebApi-20150925025646.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dgqpxhl8m2.database.windows.net,1433;Initial Catalog=deuscumpre_db;User Id=deuscumpre@dgqpxhl8m2;Password=tVKWT;CTK9</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeusCumpreContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dgqpxhl8m2.database.windows.net,1433;Initial Catalog=deuscumpre_db;User Id=deuscumpre@dgqpxhl8m2;Password=tVKWT;CTK9</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>